/* styles.css */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/static/book3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }
  
  header {
    background-color: #dbcbcb;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .about-section {
    margin: 30px 0;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  .about-section h2 {
    color: #555;
  }
  
  .about-section p {
    line-height: 1.5;
  }
  
  .about-section h2:first-of-type {
    margin-top: 0;
  }
  
  .about-section p:first-of-type {
    font-weight: bold;
  }
  