.container {
  max-width: 1750px;
  margin: 30px;
  padding: 1600px;
  background-color: rgb(249, 240, 245);
  background-image: url(/static/Images/booook.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
 
}




.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 60px;
}

h1 {
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-container img {
  width: 45%;
  max-height: 300px;
  object-fit: cover;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}

/* Navbar styles */
#navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none; /* Hide toggle button on larger screens */
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-menu li a {
  color: hwb(0 100% 0%);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar-menu li a:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-toggle {
      display: inline-block; /* Show toggle button on smaller screens */
  }

  .navbar-menu {
      display: none; /* Hide menu initially on smaller screens */
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      width: 100%;
  }

  .navbar-menu.open {
      display: flex;
  }
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: hwb(0 0% 94%);
  color: hwb(0 100% 0%);
  text-decoration: none;
  border-radius: 5px;
}

@media (min-width: 1441px) {
  .container {
    /* Add styles for larger TV screens here */
    width: 100vw;  /* Take up the full viewport width */
    height: 100vh; /* Take up the full viewport height */
    padding: 50px; /* Example of different padding for TV screens */
  }
}

/* .signup-button:hover {
  background-color: #555;
} */