body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    background-image: url(/static/book3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#app {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d5d3d3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #080808;
    margin-bottom: 20px;
}

/* Booking Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between form elements */
}

label {
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #262525;
    outline: none;
}

button {
    background-color: #373637;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* button:hover {
    background-color: #f192ee;
} */

/* Message Container */
#messageContainer {
    margin-top: 15px;
    font-size: 14px;
    color: #f5e2e1; /* Color for error messages */
}
