body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(/static/book3.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
    nav {
        background-color: #f6e4f7;
        color: #fff;
        height: 100px;
      }
      
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
      }
      
      nav ul li {
        margin-right: 20px;
      }
      
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
      
      nav ul li.add-button {
        margin-left: auto;
        margin-top: 60p;
      }
      
      nav ul li.add-button a {
        background-color: #2b2a2a;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        height: 70px;
        margin-top: 250px;
        margin: 20px auto;
        margin-bottom: 250%;
      }
      
      /* nav ul li.add-button a:hover {
        background-color: #f3c0f8;
        
      } */
  }
  
  .tutor-profiles {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .profile {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile h2 {
    margin: 0;
  }
  
  .profile p {
    margin: 5px 0;
  }

  .content {
    max-width: 1000px;
    margin: 50 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .button-container {
    margin-left: 200;
    text-align: center;
    margin-bottom: 200px;
  }
  
  .button-container button {
    padding: 8px 16px;
    background-color: #171612;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1200px;
}
  .form-container {
    text-align: center;
    margin-top: 100px;
  }

  table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
    margin-left: 100px;
    color: #171612;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f5f5f5;
  } 

.bi{
color: rgb(255, 47, 0);
margin-left: 20px;
  }


  /* CSS for modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }

  .modal-button-container {
    margin-top: 20px;
  }