body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  background-color: #f5ddf5;
    max-width: 1750px;
    margin: 30px;
    background-image: url(/static/book3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #cbc8cb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(247, 168, 234, 0.1);
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button[type="submit"] {
  background-color: #595959;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

/* button[type="submit"]:hover {
  background-color: #4c45a0;
} */