<!DOCTYPE html>
<html>
<head>
    <title>Tutor Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/dispay.css">
</head>
<body>
    <div class="container" id="tutorContainer">
    </div>

    <div class="container" id="tutorContainer">
        {% for profile in tutor_profiles %}
        <div class="tutor-info">
            <div class="profile-image">
                <img src="/static/Images/image 23.jpeg" alt="Tutor Image">
            </div>
            <div class="details">
                <h1>{{ tutor.name }}</h1>
                <p>Name: {{ tutor.name }}</p>
                <p>Surname: {{ tutor.surname }}</p>
                <p>Email: {{ tutor.email }}</p>
                <p>Phone: {{ tutor.phone }}</p>
                <h2>Subjects Offered</h2>
                <ul>
                    {% for subject in profile.subjects %}
                    <li>{{ subject }}</li>
                    {% endfor %}
                </ul>
                <h2>Availability</h2>
                <p>Date: {{ tutor.date }}</p>
                <p>Time: {{ tutor.time }}</p>
                <p>Location: {{ tutor.location }}</p>
            </div>
            <!-- <div class="book-button">
                <button onclick="bookSession()">Book</button>
            </div> -->
        </div>
        {% endfor %}
    </div>
</body>

</body>
</html>