<!DOCTYPE html>
<html>
<head>
  <title>Tutor Booking App</title>
  <link rel="stylesheet" href="/static/landing.css">
</head>
<body>
  <form action="/signup" method="POST"></form>
  <div class="container">
    <h1>Welcome to Chamdor Tutor Booking</h1>

    <nav id="navbar">
      <div class="navbar-container">
          <a href="#" class="navbar-brand">Tutoring App</a>
          <button id="navbarToggle" class="navbar-toggle">☰</button>
          <ul class="navbar-menu" id="navbarMenu">
              <li><a href="#about">About</a></li>
              <li><a href="#booking">Booking</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </div>
  </nav>
    
  
    <div class="image-container">
      <img src="/static/tutor1.jpeg" alt="Primary School Tutor Booking">
      <img src="/static/tutor 2.jpeg" alt="High School Tutor Booking">
    </div>
    
   <center>
    <div class="button-container">
      <button onclick="location.href='/login'">Login</button>
      <button onclick="location.href='/signup'">Sign Up</button>
    </div>

    <button onclick="location. href='tutorsignup'">Sign Up as a Tutor</button>
  </center>
</body>
</html>


