<!DOCTYPE html>
 
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tutor Profiles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/Subjects.css">
  </head>
  <body>
    
<nav>
  <ul>
    <form action="/tutor" method="post">  
      <input type="hidden" id="id" name="id" value='ghidij'>
      <input type="submit" value="Add">
    </form>
    <!-- <li class="add-button"><a href="#" onclick="gotoLandingPage1('addbooking')">Add</a></li> -->
  </ul>
</nav>



<section class="tutor-profiles">
  <h1> My Bookings</h1>
  <center>
    <table action="/school" method="GET" border="1">
      <thead>
        <tr>
          <th>Tutor</th>
          <th>Name</th>
          <th>Number</th>
          <th>Subject</th>
          <th>Date</th>
          <th>Time</th>
         
        </tr>
      </thead>
      {% for school in school %}
      <tr>
        <td>{{id}}</td>
        <td>{{ school['name'] }}</td>
        <td>{{ school['number'] }}</td>
        <td>{{ school['subject'] }}</td>
        <td>{{ school['date'] }}</td>
        <td>{{ school['time'] }}</td>
    <td>
      
      <form action="/deletepage" method="post">  
      <input type="hidden" id="deleteid" name="deleteid" value='{{school._id}}'>
      <input type="submit" value="Delete">
    </form>
  </td>
 
  
    </tr>
      {% endfor %}
    </table>
  </center>
</section>