<!DOCTYPE html>
<html>
<head>
  <title>Tutor Details</title>
  <link rel="stylesheet" type="text/css" href="/static/display.css">
</head>
<body>
    {% for i in tutors %}

  <div class="tutor-card">
    <h2>Tutor Details</h2>
    <div class="tutor-info">
      <div class="tutor-name">
        <h3>{{i.name}}</h3>
        <p>Surname: {{i.surname}}</p>
      </div>
      <div class="tutor-contact">
        <p>Email: {{i.email}}</p>
        <p>Phone: {{i.phone}}</p>
      </div>
      <div class="tutor-subject">
        <p>Subject Offered: {{i.subject}}</p>
      </div>
      <div class="tutor-schedule">
        <p>Date: {{i.date}}</p>
        <p>Time: {{i.time}}</p>
        <p>Location: {{i.location}}</p>
      </div>
    </div>
    <form action="/addbooking" method="post">
      <input type="hidden" name="id" id="id" value={{i.name}}>
      <input type="submit"value='Choose Tutor'>
    </form>
  </div>
  {% endfor %}
  <!-- <div class="tutor-actions">
    <a href="#" class="book-now-button">Book Now</a>
  </div -->
</body>
</html>