<!DOCTYPE html>
<html>
<head>
    <title>Book Tutor</title>
    <link rel="stylesheet" type="text/css" href="/static/add.css">
</head>
<body>

   <header>
    <h1>subjects</h1>
    <div class="in-buttons">
        <a href="/Addbreakfast"><button id="addButton">Add</button></a>
        <a href="/Editbreakfast"><button id="editButton">Edit</button></a>
    </div>
   </header>
    <!-- <form id="booking-form">
        <div id="subject-list" class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject">
            <button type="button" class="delete-button" onclick="deleteSubject(this)">Delete</button>
        </div> -->
    </form>
    <script src="script.js"></script>
</body>
</html>
