<!DOCTYPE html>
<html>
<head>
    <title>Book a Session</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Adding.css"> 
</head>
<body>
    <div id="app">
        <h1>Update Subject</h1>

        <!-- <form id="bookingForm">
            <label for="tutor">Tutor:</label>
            <select id="tutor" name="tutor" required>
                <option value="">Select a tutor</option>
                <option value="1">Tutor 1</option>
                <option value="2">Tutor 2</option> -->
               
            </select>
            <form action="/update" method="post">
            <label for="name">Name:</label>
            <input type="name" id="name" name="name" required>

            <label for="number">Number:</label>
            <input type="number" id="number" name="number" required>

            <label for="subject">Subject:</label>
            <input type="subject" id="subject" name="subject" required>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required>
            <input type="hidden" id="updateid" name="updateid" value={{id}}>

            <button type="submit">Submit</button>
        </form>
 
       
        <div id="messageContainer"></div>
    </div>

    <script src="scripts.js"></script>
</html>
